body {
   border-bottom: 5em;
   border-top: 5em;
   border-left: 5em;
   border-right: 5em;
  }

body {
    padding-top: 50px;
    padding-right: 5em;
    padding-bottom: 50px;
    padding-left: 5em;
  }

/* Estilos Barra de Navegação */

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
    padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff9900;
}

/* Estilos para a Barra de Navegação */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff9900;
}

/* Estilos para o Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff9900;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}
article {
  border: 2px solid #333;
  padding: 20px;
  margin: 20px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 24px; 
  font-weight: bold;
  color: #333;
}